<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="text">{{ site.copyright }} Powered by <a href="{{ site.jeykll_link }}" target="_new">Jeykll</a>
                            and coded in <a href="{{ site.vim_link }}" target="_new">Vim</a> on 
                            <a href="http://apple.com" target="_new">{% include svg-icons/apple.html %}</a></p>
        <p class="text">Hosted on <a href="http://digitalocean.com" target="_new">Digital Ocean</a>. 
        View source (<a href="http://github.com/prateeksachan/prateeksachan" target="_new">code</a>)</p>
      </div>
    </div>

  </div>

</footer>
