
<a href="mailto:{{ site.email }}">{% include svg-icons/email.html %}
</a> || 
<a href="https://facebook.com/{{ site.facebook_username }}">{% include svg-icons/facebook.html %}
    <span class="username">{{ site.facebook_username }}</span>
</a> || 
<a href="https://github.com/{{ site.github_username }}">{% include svg-icons/github.html %}
  <span class="username">{{ site.github_username }}</span>
</a> ||
<a href="http://instagram.com/{{ site.instagram_username }}">{% include svg-icons/instagram.html %}
    <span class="username">{{ site.instagram_username }}</span>
</a> || 
<a href="https://twitter.com/{{ site.twitter_username }}">{% include svg-icons/twitter.html %}
  <span class="username">{{ site.twitter_username }}</span>
</a>
